/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html{
    font-family: 'Rubik Mono One', sans-serif;
    scroll-behavior: smooth;
}

.section{
    position: relative;
    width: 100%;
    height: 100vh;
}

.center-block{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.shoes-comment{
    text-align: center;
    font-size: 3em;
    color: yellow;
}

/* MENU */

.menu{
    position: absolute;
    position: fixed;
    z-index: 1;
    top: 4%;
    right: 2%;
}

.menu ul li{
    display: inline-block;    
    list-style: none;
}

.menu ul a{
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: black;
    background-color: white;
}


/* SECTION & COMMENT COLOR */

#bg-red{
    background-color: rgb(255, 126, 126); 
}

#bg-green{
    background-color: rgb(139, 248, 139); 
}

#bg-yellow{
    background-color: rgb(250, 250, 149); 
}

.comment-yellow{
    color: yellow;
}

.comment-green{
    color: green;
}